<h1>Welcome to Dreamvalley</h1>

<div>
<% @random_goals.each do |goal| %>
  <p><%= goal.description %> - <%= goal.user.email %></p>
<% end %>
</div>

<div>
  <%= link_to "Write your own today!", new_goal_path %>
</div>